<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Master" >

    <groups>
        <run>

            <include name="Regression"/>
        </run>

    </groups>

<listeners>
<listener class-name="utilities.ExtentReportManager"/>
    
</listeners>
    <test name="MyTest">
        <parameter name="os" value="windows"/>
        <parameter name="browser" value="chrome"/>
        <classes>
        <class name="testcases.AddEmployees_TC"/>
            <!--<class name="testcases.LeaveApproval_TC"/>-->
            <class name="testcases.LeaveManagement_TC"/>

        </classes>
    </test>
</suite>
